.top-container{
  background-color: #EEF2FF;
  padding-top: 60px;
}
.middle-container{
margin-top: 60px;
}

body{
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;

}
h1{
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat',sans-serif;
  font-size: 2.1875rem;
  font-weight: bold;
  color: #66BFBF;
}
.pro{
  text-decoration: underline;

}
h3{
  font-family: 'Montserrat',sans-serif;
  color: #66BFBF;
}

.bottom-cloud{
  position: absolute;
  left:300px;
  bottom:320px;

}
.top-cloud{
  position: absolute;
  right:390px;
  top:30px;

}
.skill-row{
  width: 50%;
  margin: auto;
  margin-top: 100px;

  text-align: left;
  line-height: 2;

}
.computer-img{
  width: 20%;
  float: left;
  margin-right: 30px;
}
.chillies-img{
  width: 20%;
  float: right;
  margin-right: 30px;
}
.p-hello{
  color: #40514E;
  text-align: center;
  width: 30%;
  margin: auto;
  line-height: 2;
}
.p-contact{
  color: #40514E;
  text-align: center;
  width: 45%;
  margin: auto;
  line-height: 2;
  margin-top: 30px;
  margin-bottom: 40px;
}
hr{
  color: #EAF6F6;
  border: none;
  border-top: dotted;
  width: 4%;
  margin-top: 60px;
  margin-bottom: 60px;
}
.bottom-container{
  background-color: #66BFBF;
  margin-top: 80px;
  padding-top: 40px;
  padding-bottom: 30px;
}
.p-footer{
  color: #EAF6F6;
  font-size: 10px;
  margin-top: 30px;

}
.footer-link{
  color: #11999E;
  margin-right: 15px;
  margin-left: 15px;
  text-decoration: none;
}
.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #1c8296);
  background-image: -moz-linear-gradient(top, #66BFBF, #1c8296);
  background-image: -ms-linear-gradient(top, #66BFBF, #1c8296);
  background-image: -o-linear-gradient(top, #66BFBF, #1c8296);
  background-image: linear-gradient(to bottom, #66BFBF, #1c8296);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #f5f6f6;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}
